<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hbd.cakeday">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.hbd.cakeday.FullscreenActivity9"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen9"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.hbd.cakeday.FullscreenActivity8"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen8"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.hbd.cakeday.FullscreenActivity7"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen7"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.hbd.cakeday.FullscreenActivity6"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen6"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.hbd.cakeday.FullscreenActivity5"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen5"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.hbd.cakeday.FullscreenActivity4"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen4"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.hbd.cakeday.FullscreenActivity3"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen3"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.hbd.cakeday.FullscreenActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen2"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.hbd.cakeday.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>